<div class="container">
  <h2 style="text-align:center">{{ minutes | number: '2.0' }}:{{ seconds | number: '2.0' }}</h2>

  <!-- ... Existing code ... -->

  <button class="square" (click)="resetTimer()" [style.backgroundColor]="squareColor" [ngStyle]="{'width.px': squareSize, 'height.px': squareSize}">
    <ng-container *ngIf="squareColor === 'red' && displayGif && !bigOverTime">
      <img [src]="'/assets/timegifs/' + gifFiles[currentGifIndex] + '.gif'" alt="GIF" class="square-gif">
    </ng-container>
    <ng-container *ngIf="bigOverTime">
      <img [src]="'/assets/stopnowgifandsound/nuke.gif'" alt="GIF" class="square-gif">
    </ng-container>
  </button>

  <!-- ... Existing code ... -->


</div>
<!--<h1>Vahid's AI in the pipe !</h1>-->
