.container {
  display: inline-block;
  vertical-align: middle;
}

h2 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.square {
  width: 450px;
  height: 450px;
  /*background-color: green;*/
  margin-left: 8px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure the GIF is contained within the square */
}

.square-gif {
  width: 100%; /* Ensure the GIF takes up the entire container width */
  height: 100%; /* Ensure the GIF takes up the entire container height */
  object-fit: cover; /* Scale the GIF to cover the entire container */
}
